<style>

.kLMvdK::after {
    content: "Faca" !important;
}

.type_heading-xxlarge, .type_heading-xxlarge-tertiary {
    font-size: 110px !important;
    line-height: 48px;
    font-weight: 700;
}
</style>
